@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

body {
  min-height: 100svh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}